@import 'bootstrap/dist/css/bootstrap.min.css';

.form-control {
    border: 1px solid black !important;
}

.form-select {
    border: 1px solid black !important;
}

body {
    background: radial-gradient(circle, #000000 0%, #1f2020 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}
