<div class="container mt-4 text-center">
    <img 
      src="/assets/img/hairdressair_logo.png" 
      alt="Kezdőlap kép" 
      class="img-fluid rounded shadow"
      id="home"
    >
    <p>
        <a routerLink="/new" class="fs-4" id="home-a">
        Foglalj nálunk időpontot!
        </a>A foglalás regisztrációhoz kötött!
    </p>
    <p>
        <b>Címünk</b>: 1248 Budapest, Külker Gimi tér 3. | <b>E-mail</b>: hairdressair&#64;fodrasz.hu | <b>Telefon</b>: 0620-123-4567
    </p>
    <p>
        <b>Nyitvatartás</b>: hétfőtől péntekig: 9:00 - 17:00 | szombat-vasárnap és ünnepnapokon: zárva
    </p>
  </div>
  
